body {
  background-image: url("/image/images.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.InventoryList {
  width: 145px;
  height: 340px;
  background-color: rgb(22, 18, 18);
  z-index: 1;
  position: absolute;
  left: 13.8%;
  top: 30vh;
  color: lightgoldenrodyellow;
}

.underline {
  width: 550px;
  height: 8px;
  background-color: darkcyan;
  position: relative;
  left: 85px;
}

.loggregistrer {
  border-radius: 25px;
  width: 90px;
  height: 30px;
  background-color: grey;
  color: light;
  position: relative;
  left: 1710px;
  top: 10px;
  cursor: pointer;
}

.frontimage {
  width: 100%;
  height: 98%;
  position: fixed;
  left: 1.5%;
}

.wheel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  position: absolute;
  top: 275px;
  left: 60px;
}

.wheel {
  width: 300px;
  height: 300px;
  border: 6px solid rgba(131, 132, 143, 0.788);
  border-radius: 50%;
  position: relative;
  animation: spin 6s cubic-bezier(0.36, 2.1, 0.63, 1) infinite;
}

.wheel-section {
  width: 50%;
  height: 3%;
  top: 146px;
  left: 0px;
  position: absolute;
  transform-origin: 100%;
  transform: rotate(89deg);
  clip-path: polygon(0 0, 120% 0, 100% 65%);
}

.spinbutton {
  margin-top: 8px;
  width: 120px;
  position: relative;
  left: 35%;
  top: 324px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
}
.spinbutton2 {
  margin-top: 8px;
  width: 120px;
  position: relative;
  left: 220px;
  top: 281.5px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
}
.buttonContainer {
  position: relative;
  z-index: 1;
  right: 315px;
  top: 300px;
}

.listWheelOutLay {
  content: attr(data-genre);
  width: 175px;
  height: 340px;
  position: fixed;
  left: 3%;
  top: 270px;
}

.button1 {
  position: absolute;
  border-radius: 60px;
  width: 115px;
  height: 40px;
  background: url("/Image/netflix1.png") -83px 110px;
  top: 2px;
  left: 65%;
  cursor: pointer;
}

.button2 {
  position: absolute;
  border-radius: 60px;
  width: 115px;
  height: 40px;
  background: url("/Image/viaplay.jpeg") center;
  background-size: cover;
  top: 50px;
  left: 65%;
  cursor: pointer;
}

.button3 {
  position: absolute;
  border-radius: 60px;
  width: 115px;
  height: 40px;
  background: url("/Image/disney.png") 5px -6px;
  background-size: cover;
  top: 100px;
  left: 65%;
  cursor: pointer;
}

.button4 {
  position: absolute;
  border-radius: 60px;
  width: 115px;
  height: 40px;
  background: url("/Image/hbo.png") center;
  background-size: cover;
  top: 150px;
  left: 65%;
  cursor: pointer;
}

.button5 {
  position: absolute;
  border-radius: 60px;
  width: 115px;
  height: 40px;
  background: url("/Image/popcorn.png") center;
  background-size: cover;
  top: 200px;
  left: 65%;
  cursor: pointer;
}

.button6 {
  position: absolute;
  border-radius: 60px;
  width: 115px;
  height: 40px;
  background: url("/Image/youtube.webp") center;
  background-size: cover;
  top: 250px;
  left: 65%;
  cursor: pointer;
}

.backgroundimg {
  position: absolute;
  height: 50px;
  width: 50px;
}

.toppagebutton {
  border-radius: 25px;
  width: 90px;
  height: 30px;
  background-color: grey;
  color: light;
  position: relative;
  left: 1145px;
  top: 10px;
  cursor: pointer;
}

.Alert {
  position: absolute;
  left: 40%;
  top: 25%;
  color: rgb(197, 91, 91);
}

.Top5Movies {
  text-align: center;
  width: 260px;
  height: 70px;
  background-color: rgba(59, 101, 129, 0.39);
  color: black;
  position: relative;
  right: 650px;
  top: -950px;
  cursor: pointer;
}

.overskriftRamme {
  width: 34%;
  height: 28%;
  left: 33%;
  position: relative;
  position: fixed;
}

.overskriftbilde2 {
  width: 32%;
  height: 28%;
  left: 66.5%;
  position: relative;
  position: fixed;
}

.overskriftbilde1 {
  width: 32%;
  height: 28%;
  left: 1.4%;
  position: relative;
  position: fixed;
}

.Logginn {
  margin-top: 8px;
  width: 120px;
  position: absolute;
  left: 173vh;
  top: 268px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
}

.register{
  margin-top: 8px;
  width: 120px;
  position: absolute;
  left: 186.4vh;
  top: 268px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
}

.FrontPageTitle {
  position: absolute;
  top: 110px;
  left: 860px;
  z-index: 1;
}

.CinemaPageTitle{
  position: absolute;
  top: 110px;
  left: 41.5%;
  z-index: 1;
}

.Top10ViewTitle{
  position: absolute;
  top: 110px;
  left: 45.5%;
  z-index: 1;
}

h1 {
  margin: auto;
  font-size: 3.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

h2 {
  margin: auto;
  font-size: 2.5rem;
  font-weight: 300;
  animation: lights 5s 750ms linear infinite;
}

.LoginBox {
  position: absolute;
  top: 49%;
  left: 46%;
  width: 125px;
  height: 40px;
  border-radius: 60%;
  background-color: white;
  cursor: pointer;
}

.RegisterBox {
  position: absolute;
  top: 100%;
  left: 13%;
  width: 125px;
  height: 40px;
  border-radius: 60%;
  background-color: white;
  cursor: pointer;
}
.PasswordBox {
  position: absolute;
  top: 42%;
  left: 45%;
  background-color: rgba(51, 19, 24, 0.37);
  color: white;
}

.UsernameBox {
  position: absolute;
  top: 35%;
  left: 45%;
  background-color: rgba(51, 19, 24, 0.37);
  color: white;
}
#FrontLogin {
  position: absolute;

  width: 99%;
  height: 99%;
  background: url("/Image/cinema.avif") center;
  background-size: cover;
}

.loginTitle {
  color: white;
  position: absolute;
  left: 43%;
  top: 15%;
}

.EmailBox {
  position: absolute;
  top: 30%;
  left: 45%;
  background-color: rgba(51, 19, 24, 0.37);
  color: white;
}

.Datebox {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 9%;
  background-color: rgba(51, 19, 24, 0.37);
  color: white;
}

.RegisterHeadTitle {
  position: absolute;
  left: 38%;
  top: 10%;
}

@keyframes lights {
  0% {
    color: hsl(325, 79%, 16%);
    text-shadow: 0.5em -0.125em 0.25em hsla(345, 85%, 18%, 0.2),
      -0.5em 0.125em 0.25em hsla(0, 78%, 26%, 0.4),
      0 0 1em hsla(320, 100%, 50%, 0.5), 0 0 0.125em hsla(268, 90%, 23%, 0.5);
  }

  70% {
    color: hsl(0, 80%, 52%);
    text-shadow: 0 0 1em hsla(266, 75%, 33%, 0.5),
      0 0 0.125em hsla(320, 100%, 60%, 0.5),
      0.5em -0.125em 0.25em hsla(313, 81%, 24%, 0.2),
      -0.5em 0.125em 0.25em hsla(355, 81%, 46%, 0.151);
  }
}

#registrationForm {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

#registrationForm {
  position: absolute;
  left: 45%;
  top: 20%;
}
.Usernamelabel {
  position: absolute;
  left: 45%;
  top: 32.5%;
}
.PasswordLabel {
  position: absolute;
  left: 45%;
  top: 40%;
}

.HomeButton {
  margin-top: 8px;
  width: 120px;
  position: absolute;
  left: 186.5vh;
  top: 267px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
  z-index: 2;
}

.UsernameDisplay {
  z-index: 2;
  position: absolute;
  top: 300px;
  left: 250px;
  color: white;
}

.Logoutbutton {
  margin-top: 8px;
  width: 120px;
  position: absolute;
  left: 186.5vh;
  top: 305px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
  z-index: 2;
}

.Back {
  margin-top: 8px;
  width: 60px;
  height: 30px;
  position: absolute;
  left: 1vh;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
  z-index: 2;
}

.Alert {
  position: absolute;
  top: 30px;
  left: 87vh;
}

.MyListButton {
  margin-top: 8px;
  width: 120px;
  position: absolute;
  left: 186.5vh;
  top: 345px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
  z-index: 2;
}

.streamingWebsites {
  margin-top: 8px;
  width: 200px;
  position: absolute;
  left: 151.5vh;
  top: 269px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
  z-index: 2;
}

.Forum {
  margin-top: 8px;
  width: 120px;
  position: absolute;
  left: 138.5vh;
  top: 269px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
  z-index: 2;
}

.Top10Button {
  margin-top: 8px;
  width: 120px;
  position: absolute;
  left: 125.5vh;
  top: 269px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
  z-index: 2;
}

.title {
  position: absolute;
  left: 80vh;
  height: 100px;
  top: 13.4%;
}

.StreamingBox {
  position: absolute;
  color: white;
  top: 71.8vh;
  height: 150.5px;
  width: 666.9px;
  margin: 20px;
  background-color: black;
  z-index: 2;
  transition: background-color 0.5s ease; 
  animation-duration: 0.5s;
  animation: slideIn 1.1s ease backwards; 
  animation-fill-mode: both;  
  background: linear-gradient(to right, #24631b, transparent);
  padding: 20px;
}




@keyframes dropdown{
0%{opacity: 0;
Transform: translateY(-50%);
}

100%{
opacity: 1;
Transform: translateY(0);
}
}

.StreamingBox:hover {
  background-color: #333; 
}

.slides img {
  width: 37.2%;
  position: relative;
  left:1%;
  top: 28vh;
  display: none;

  animation: slideIn 1.1s ease backwards; 
}

.slides img:first-child {
  display: block;
}

@keyframes slideInRight {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
button.prev {
  position: relative;
  top: 25px;  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
right: 8px;
  padding: 10px;
  z-index: 100;
  transition: background-color 0.3s ease; 
}
button.next {
  position: relative;
  top: 25px;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  left: 36.6%;
  cursor: pointer;
  padding: 10px;
  z-index: 100;
  transition: background-color 0.3s ease; 
}

button.prev:hover,
button.next:hover {
  background-color: rgba(0, 0, 0, 0.7); 
}

.imagess {
  position: relative;
  height: 45vh;
}

.Description {
  width: 600px;
}

.Price {
  width: 700px;
  color: light;
}


li {
width: 100%
}



.streamingWebsites2{
  margin-top: 8px;
  width: 200px;
  position: absolute;
  left: 151vh;
  top: 288px;
  padding: 5px 5px;
  font-size: 18px;
  border-radius: 30px;
  border: 1px solid red;
  background: black;
  color: lightblue;
  cursor: pointer;
  z-index: 2;
}

